<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <!-- Android 12 及以上版本 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:targetApi="s" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- Android 11 及以下版本 -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- Android 9 及以下版本 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 悬浮窗权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="DiscouragedApi"
        tools:targetApi="tiramisu">
        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />
        <meta-data
            android:name="ScopedStorage"
            android:value="true" />

        <!--        <activity-->
        <!--            android:name=".act.SplashAct"-->
        <!--            android:configChanges="uiMode|orientation"-->
        <!--            android:exported="true"-->
        <!--            android:icon="@mipmap/ic_launcher"-->
        <!--            android:launchMode="singleTop"-->
        <!--            android:theme="@style/Theme.SplashTheme.NewSplash">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <activity
            android:name=".act.SplashNewAct"
            android:configChanges="uiMode|orientation"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.MainAct"
            android:launchMode="singleTop"
            android:exported="true"
            >
            <!-- 这个是友盟的 URL Scheme intent-filter -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="um.673750078f232a05f1b30700" />
            </intent-filter>
        </activity>
        <activity
            android:name=".act.LoginAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.PersonInfoAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.UpdateNicknameAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.RechargeAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.SettingAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.AboutUsAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.StorageSpaceAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.FaqAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.ContactUsAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.MyOrderAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.RechargeDetailsAct"
            android:launchMode="singleTop" />

        <activity
            android:name=".act.SelectProductByAllEncyclopediaAct"
            android:launchMode="singleTop" />

        <activity
            android:name=".act.ProductInstructionsAct"
            android:launchMode="singleTop" />

        <activity
            android:name=".act.TranslationRecordsAct"
            android:launchMode="singleTop" />

        <activity
            android:name=".act.DialogueRecordsDetailsAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.TranslationRecordsDetailsAct"
            android:launchMode="singleTop" />

        <activity
            android:name=".act.TranslationRecordsSearchAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.speech.ListenFreeForMultiModeAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.speech.ListenFreeForTwoTalkModeAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.SimulationModeAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.speech.ListenModeAct"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".act.ListenOriginalModeAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.ListenBilingualModeAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.ListenBilingualOriginalModeAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.speech.ListenerModeSettingAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.SpeakerModeAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name=".act.DialogueModeSettingAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name=".act.TouchModeAct"
            android:launchMode="singleTop" />

        <activity
            android:name=".act.DeviceInfoAct"
            android:launchMode="singleTop"
            />

        <activity
            android:name=".act.TransDeviceInfoAct"
            android:launchMode="singleTop"
            />

        <activity
            android:name=".act.TextTranslationAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" />

        <activity
            android:name=".act.FavoriteRecordAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.RichTextAct"
            android:launchMode="singleTop" />
        <activity
            android:name=".act.CompanyIntroAct"
            android:launchMode="singleTop"
            />

        <receiver
            android:name="com.jlm.common.net.ForceOfflineReceive"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.FORCE_OFFLINE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.jlm.translator.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>